/* nanum-gothic-coding-regular - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nanum Gothic Coding';
    font-style: normal;
    font-weight: 400;
    src: url('nanum-gothic-coding-v21-korean_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nanum-gothic-coding-700 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nanum Gothic Coding';
    font-style: normal;
    font-weight: 700;
    src: url('nanum-gothic-coding-v21-korean_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}