@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.container {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
}

.moveable-control.moveable-origin {
    opacity: 0;
}

/*

.moveable-control-box {
    opacity: 0;
}

.container:hover {

    .moveable-control-box {
        opacity: 1;
    }

}
*/

.selecto-selection {
    z-index: 10000 !important;
}

.selecto-area {
    position: absolute;
    left: 0;
    right:0;
    bottom:0;
    top:0;
    display: flex;
}