@mixin scrollbar() {
  @media (hover: hover) and (pointer: fine) {
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      width: 8px;
      height: 56px;
      border-radius: 4px;
      background-clip: content-box;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
